<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DZNetworking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DZNetworkingMacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DZNetworkingWatchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0024C3F2075E6480011E1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0B2C6731D1001BA00944F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0B2C6801D10024C00944F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0FC8E4F1B4FB1D300FDA46C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0FC8E5A1B4FB1D300FDA46C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
